.main{
    margin: 100px 500px;
    width: 185px;
    height: 110px;
    background-color: sandybrown;
    border: 4px solid black;
}
h1{
    text-align: center;
    color: white;
}
.plus{
    height: 40px;
    width: 45px;
}
.minus{
    height: 40px;
    width: 45px;
}
.reset{
    height: 40px;
    width: 87px;
}